body{
    background-image: linear-gradient(to bottom right, rgb(246, 22, 249), rgb(139, 0, 105));
    min-height: 100vh;
}
img{
    width: 250px;
    height: 250px;
}
h1,p{
    color: azure;
}